body{
  background-image: url('./assets/JusticeLeague.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  color: #000;
}
.App {
  text-align: center;
  padding: 5%;
}
/* .App-header{
  color: rgba(255,255,255,0.6);
  width: 50%;
  background: #fff; 
} */
.list-item{
  display: inline-block;
}
.list-group .list-group-item{
  background-color: rgba(255,255,255,0.6);
}

.right-btn{
  cursor: pointer;
  float: right;
}